GO

-- USE [[DBNAME]]

CREATE LOGIN [[DBUSER]] WITH PASSWORD='[[DBPASS]]'
CREATE USER [[DBUSER]] FOR LOGIN [[DBUSER]]

ALTER ROLE db_datareader
	ADD MEMBER [[DBUSER]];  
GO
ALTER ROLE db_datawriter
	ADD MEMBER [[DBUSER]];  
GO
ALTER ROLE db_ddladmin
	ADD MEMBER [[DBUSER]];  
GO
