namespace [[NAME]].Data.Models
{
    public class AspNetUserRefreshToken
    {
        public Guid RefreshTokenId { get; set; }
        public string AccessToken { get; set; } = default!;
        public string RefreshToken { get; set; } = default!;
        public string Username { get; set; } = default!;
        public DateTime ValidTo { get; set; }
    }
}