<script setup lang="ts">
import MainLayout from './layouts/MainLayout.vue';
import { ref } from 'vue'

</script>

<template>
    <q-layout>
        <q-page-container>
            <main-layout></main-layout>
        </q-page-container>
    </q-layout>
</template>
