import { createApp } from 'vue'
import './style.css'
import App from './App.vue'
import { createRouter, createWebHistory, RouteRecordRaw } from 'vue-router';
import Router from './routes/Routes';

// Quasar
import { Quasar } from 'quasar'
import '@quasar/extras/material-icons/material-icons.css'
import 'quasar/src/css/index.sass'

const app = createApp(App);
app.use(Router);
app.use(Quasar, {
  plugins: {},
});
app.mount('#app');
